/* Stylesheet for ajisjamsu - personal site */

h1 {
	text-align: center;
	color: #967;
	font-size: 72px;
}

#header {
    font-family: "Arial";
    color: green;
}

#mainbody {
	font-family: "Arial";
    color: brown;
}

#closing {
	text-align: center;
	font-family: "Comic Sans MS";
	background-color: gray;
	color: orange;
}